.form-group{
    width:350px;
    margin-left:auto;
    margin-right:auto;
}

.btn.btn-primary{
    background-color: #14547b;
    width:350px;
    margin-left:auto;
    margin-right:auto;
}

.btn.btn-primary.btn-lg{
    border:1px solid #09a5cf;
    background-color:white;
    color:black;
    font-size:80%;
    width:170px;
}

.login-button{
    text-align:center;
}

.button-group{
    text-align:center;
}

img{
    margin-top:60px;
    width:20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}