<!DOCTYPE html>
<html lang="ko" layout:decorate="~{layouts/default}" xmlns:layout="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org">
<th:block layout:fragment="content">
    <link rel="stylesheet" href="/css/makeSchedule.css">
    <link rel="stylesheet" href="/css/buttons.css">
    <div class="date">
        <strong th:text="${courseTitle}"> courseTitle </strong>
        <br> <strong th:text="${scheduleCandidate.startDate} + ' ~ ' + ${scheduleCandidate.endDate}"> YYYY/MM/DD ~ YYYY/MM/DD </strong>
    </div>

    <div id="paceWrapper">
        <br>
        <div id="courseEndDateWrap">
            <strong th:text="'예상종료일: ' + ${scheduleCandidate.courseEndDate} + ' ( D-' + ${scheduleCandidate.D_Day} + ' ) '"> YYYY/MM/DD (D-n) </strong>
        </div>
        <form id="regulatePace">
            <input type="hidden" id="schedulingResource" th:value="${scheduleCandidate.schedulingResource}">
            <input type="range" id="pace" min="1" max="70" value="${pace}" oninput="sendPace()">
        </form>
    </div>

    <table class="schedule">
        <thead>
        <tr>
            <th scope="col" id="learningContent">학습 내용</th>
            <th scope="col" id="done">완료</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="lecture : ${scheduleCandidate.lectureListCandidate}">
            <td th:text="${lecture.title}">lecture title</td>
        </tr>
        </tbody>
    </table>

    <form id="save" th:action="@{/replaceSchedule}" th:object="${schedulingReq}" method="post">

        <inpt type="submit" id="restartbtn" class="w-btn w-btn-gra1 w-btn-gra-anim">
            SAVE
        </inpt>
    </form>

    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript" src="/js/Ajax.js"></script>
</th:block>
</html>