<!DOCTYPE html>
<html lang="ko" layout:decorate="~{layouts/default}" xmlns:layout="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org">
<th:block layout:fragment="content">
    <link rel="stylesheet" href="/css/buttons.css">
    <link rel="stylesheet" href="/css/showSchedule.css">
    <div class="date">
        <strong th:text="${courseTitle}"> courseTitle </strong>
        <br> <strong th:text="${scheduleView.startDate} + ' ~ ' + ${scheduleView.endDate}"> YYYY/MM/DD ~ YYYY/MM/DD </strong>
    </div>
    <table class="schedule">
        <thead>
        <tr>
            <th scope="col" id="learningContent">학습 내용</th>
            <th scope="col" id="done">완료</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="progress : ${scheduleView.progressWithLectureInfoList}">
            <td th:text="${progress.title}">lecture title</td>
            <td> <input type="checkbox" th:name="${progress.progressId}" th:checked="${progress.done}" onClick="check(this)"> </td>
        </tr>
        </tbody>
    </table>
    <form id="commentForm">
        <input type="hidden" id="scheduleId" th:value="${scheduleView.scheduleId}">
        <input id="comment" placeholder="이번 주 학습 소감" th:value="${scheduleView.comment}">
        <input id="commentSaveBtn" type="button" value="저장" onclick="dataSend()">
    </form>
    <a id="restartbtn" class="w-btn w-btn-gra1 w-btn-gra-anim"
       th:href="@{/makeSchedule(courseId=${courseId}, courseTitle=${courseTitle})}">
        RESTART
    </a>

    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript" src="/js/Ajax.js"></script>
</th:block>
</html>
