<!DOCTYPE html>
<html lang="ko" layout:decorate="~{layouts/default}" xmlns:layout="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org">
<th:block layout:fragment="content">
    <link rel="stylesheet" href="/css/showPlan.css">
    <div class="table-wrapper">
        <table class="plan">
            <thead>
            <tr>
                <th scope="col">학습 내용</th>
                <th scope="col">완료</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="col">삼각함수 Lv1 - 삼각함수의 정의</th>
                <th scope="col"><input type="checkbox"></th>
            </tr>
            <tr>
                <th scope="col">삼각함수 Lv1 - 삼각함수 값의 부호</th>
                <th scope="col"><input type="checkbox"></th>
            </tr>
            <tr>
                <th scope="col">삼각함수 그래프 Lv1 - sin cos 그래프</th>
                <th scope="col"><input type="checkbox"></th>
            </tr>
            <tr>
                <th scope="col">삼각함수 그래프 Lv1 - sin cos 각변환</th>
                <th scope="col"><input type="checkbox"></th>
            </tr>
            <tr>
                <th scope="col">삼각함수 그래프 Lv1 - 삼각함수 방정식</th>
                <th scope="col"><input type="checkbox"></th>
            </tr>
            <tr>
                <th scope="col">삼각함수 그래프 Lv1 - 삼각함수 방정식(2) </th>
                <th scope="col"><input type="checkbox"></th>
            </tr>
            <tr>
                <th scope="col">삼각함수 Lv1 - 삼각함수의 정의</th>
                <th scope="col"><input type="checkbox"></th>
            </tr>
            <tr>
                <th scope="col">삼각함수 Lv1 - 삼각함수 값의 부호</th>
                <th scope="col"><input type="checkbox"></th>
            </tr>
            <tr>
                <th scope="col">삼각함수 그래프 Lv1 - sin cos 그래프</th>
                <th scope="col"><input type="checkbox"></th>
            </tr>
            <tr>
                <th scope="col">삼각함수 그래프 Lv1 - sin cos 각변환</th>
                <th scope="col"><input type="checkbox"></th>
            </tr>
            <tr>
                <th scope="col">삼각함수 그래프 Lv1 - 삼각함수 방정식</th>
                <th scope="col"><input type="checkbox"></th>
            </tr>
            <tr>
                <th scope="col">삼각함수 그래프 Lv1 - 삼각함수 방정식(2) </th>
                <th scope="col"><input type="checkbox"></th>
            </tr>
            <tr>
                <th scope="col">삼각함수 Lv1 - 삼각함수의 정의</th>
                <th scope="col"><input type="checkbox"></th>
            </tr>
            <tr>
                <th scope="col">삼각함수 Lv1 - 삼각함수 값의 부호</th>
                <th scope="col"><input type="checkbox"></th>
            </tr>
            <tr>
                <th scope="col">삼각함수 그래프 Lv1 - sin cos 그래프</th>
                <th scope="col"><input type="checkbox"></th>
            </tr>
            <tr>
                <th scope="col">삼각함수 그래프 Lv1 - sin cos 각변환</th>
                <th scope="col"><input type="checkbox"></th>
            </tr>
            <tr>
                <th scope="col">삼각함수 그래프 Lv1 - 삼각함수 방정식</th>
                <th scope="col"><input type="checkbox"></th>
            </tr>
            <tr>
                <th scope="col">삼각함수 그래프 Lv1 - 삼각함수 방정식(2) </th>
                <th scope="col"><input type="checkbox"></th>
            </tr>
            <tr>
                <th scope="col">삼각함수 Lv1 - 삼각함수의 정의</th>
                <th scope="col"><input type="checkbox"></th>
            </tr>
            <tr>
                <th scope="col">삼각함수 Lv1 - 삼각함수 값의 부호</th>
                <th scope="col"><input type="checkbox"></th>
            </tr>
            <tr>
                <th scope="col">삼각함수 그래프 Lv1 - sin cos 그래프</th>
                <th scope="col"><input type="checkbox"></th>
            </tr>
            <tr>
                <th scope="col">삼각함수 그래프 Lv1 - sin cos 각변환</th>
                <th scope="col"><input type="checkbox"></th>
            </tr>
            <tr>
                <th scope="col">삼각함수 그래프 Lv1 - 삼각함수 방정식</th>
                <th scope="col"><input type="checkbox"></th>
            </tr>
            <tr>
                <th scope="col">삼각함수 그래프 Lv1 - 삼각함수 방정식(2) </th>
                <th scope="col"><input type="checkbox"></th>
            </tr>
            </tbody>
        </table>
    </div>
</th:block>
</html>