<!DOCTYPE html>
<html lang="ko">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<footer th:fragment="footer">
    <hr>
    <div style="padding-inline:5%; padding-block:15px; color:#737373;">
        상호명 : 사오수학학원<br>
        대표자 : 현우성  I  개인정보관리 책임자 : 현우성<br>
        사업자 등록번호 : 502-97-44654<br>
        통신판매업 신고 : 2022-용인수지-0456호<br>
        주소 : 경기도 용인시 수지구 수지로 296번길 51-2 미래빌딩 3층<br>
        TEL : 031-264-6550  I  EMAIL : sujisaomath@gmail.com
    </div>
</footer>
</html>







}