#header{
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color:#f5f6f7;
}

#navbar{
    padding-inline: 5%;
    padding-top: 30px;
    padding-bottom: 15px;
}

#subjects{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 3px;
    margin: 0;
    width: 50%;
}

#courses{
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 1;
}

#courses li{
    margin-inline: 5%;
}

.hoverZone:hover #courses {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding-top: 1%;
    margin-inline: 25%;
    width: 50%;
}

.sidelink{
    width:25%;
}

#homeLink{
    padding-right:10%;
}

#logInLink{
    padding-left:20%;
}