.form-group{
    width:350px;
    margin-left:auto;
    margin-right:auto;
}

.btn.btn-primary{
    background-color: #14547b;
    width:350px;
    margin-left:auto;
    margin-right:auto;
}

.login-button{
    text-align:center;
}

img{
    margin-top:30px;
    width:20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#LogInOptions{
    text-align:center;
    width:350px;
    margin-inline: auto;
    margin-top: 15px;
    margin-bottom: 5%;
}

#LogInOptions a{
    width: 50%;
    justify-content: center;
}