.date{
    text-align: center;
    margin-inline: auto;
}

.schedule{
    margin-top: 10px;
    margin-inline: auto;
    width: 51%;
    table-layout: fixed;
    border-collapse: collapse;
    border: 1px solid #888;
}

/* 행 장식 */
.schedule th, .schedule td {
    padding: 10px;
    text-align: left;
}

.schedule thead {
    display:block;
    background: #8a8a8a;
    height: 13%;
}
.schedule tbody{
    display:block;
    overflow:auto;
    height:87%;
}

#learningContent{
    width: 80%;
}

#done{
    width: 20%;
}

#courseEndDateWrap{
    margin-left: 25%;
    margin-right: 10px;
    width: 20%;
    height: 20%;
}

#paceWrapper{
    display: flex;
}

#regulatePace{
    height: 20%;
    width: 40%;
}

input[type=range] {
    -webkit-appearance: none;
    overflow: hidden;
    width: 73%;
    height: 10px;
    background: transparent;
    cursor: pointer;
    background: #e5e4e3;
    border-radius: 0; /* iOS */
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 10px;
    height: 10px;
    background: #fff;
    box-shadow: -100vw 0 0 100vw dodgerblue;
    border: 0.1px solid dodgerblue;
    cursor: pointer;
}